html,
body,
#root {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column !important;
}

#root>.container {
  padding-bottom: 2rem;
}

/* ホームのTwitterとContactの上下マージン */
#root[breakpoint="xs"],
#root[breakpoint="sm"] {
  .home-info>.row-cols-1 .col:not(:first-child) {
    margin-top: 3rem;
  }
}

#root[breakpoint="xs"] {
  .home-contents-row>.title-container {
    //  HomeContentsRowのMBタイトル調整
    flex-direction: column !important;
    align-items: flex-start !important;

    .btn {
      margin-left: 0 !important;
      margin-top: .3rem;
    }
  }

  // HomeのTwitter Timeline
  .home-info {
    .twitter-embed-container.timeline {
      width: 80%;
      margin: 0 auto;
    }
  }
}

/* HomeContentRowのカード */
.home-contents-row .home-content-row-card-body .card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* News詳細段落 */
.news-article-container .news-article-body .news-article-paragraph img {
  margin-bottom: 1rem;
}

/* ページヘッダーイメージ */
.page-header-container {
  position: relative;

  >.page-title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  >.page-header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 35vw;
    max-height: 200px;
    position: relative;

    &::before {
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(28, 27, 27, 0.408);
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }
}

/* Twitter setting */
.twitter-color {
  background-color: #1A8CD8;
}

.twitter-dm-button-custom svg {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  fill: currentColor;
  color: white;
}

/* Twitter Embed */
.twitter-embed-container {
  position: relative;
  &.timeline {
    > * {
      position: absolute;
    }
  }
  >.twitter-embed-body {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  >.twitter-embed-loading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* News Gallery */
.news-list-group-contents p {
  margin: 0;
}

// Footer
.footer {
  margin-top: auto !important;
  --cui-footer-min-height: 3rem;
  --cui-footer-padding-x: 1rem;
  --cui-footer-padding-y: 0.5rem;
  --cui-footer-color: rgba(44, 56, 74, 0.95);
  --cui-footer-bg: #ebedef;
  --cui-footer-border-color: #d8dbe0;
  --cui-footer-border: 1px solid var(--cui-footer-border-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: var(--cui-footer-min-height);
  padding: var(--cui-footer-padding-y) var(--cui-footer-padding-x);
  color: var(--cui-footer-color);
  background: var(--cui-footer-bg);
  border-top: var(--cui-footer-border);
}