html, body, #root {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column!important;
}

.footer {
  margin-top: auto !important;
  --cui-footer-min-height: 3rem;
  --cui-footer-padding-x: 1rem;
  --cui-footer-padding-y: 0.5rem;
  --cui-footer-color: rgba(44, 56, 74, 0.95);
  --cui-footer-bg: #ebedef;
  --cui-footer-border-color: #d8dbe0;
  --cui-footer-border: 1px solid var(--cui-footer-border-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: var(--cui-footer-min-height);
  padding: var(--cui-footer-padding-y) var(--cui-footer-padding-x);
  color: var(--cui-footer-color);
  background: var(--cui-footer-bg);
  border-top: var(--cui-footer-border);
}